nav {
  /* background-color: #000; */
  border-bottom: 3px #000 solid;
}

button {
  border: 3px #000 solid;
  border-radius: 10px;
}
/* 
.routines {
  background-color: #000;
  color: #fff;
} */

.card-body {
  background-color: #00AEEE;
  /* background-color: #fff; */
  color: #000;
  border-radius: 10px;
  box-shadow: 3px 3px #000;
}